#sticks {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* espaço entre paus */
    margin: 20px 0;
}

.stick {
    width: 30px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #000000;
    visibility: visible;
}

.light {
    background-color: #d2c08e;
}

.dark {
    background-color: #4e3217;
}

@keyframes toss {
    0% {
        transform: translateY(-50px) rotate(10deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.stick.throw {
    animation: toss 0.3s ease-out;
}

/*  */
.info {
    margin-top: 15px;
    font-size: 18px;
}

/* Caixa de resultados */
.result {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #00604A;
    background-color: #00C194;
    font-size: 14px;
    min-width: 50px;
    text-align: center;
}