body,
html {
    background-color: orange;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    font-family: system-ui;
}

.header {
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    background: #00C194;
    border-bottom: 4px solid #00604A;
    z-index: 30;
}

top-container {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin-right: 5%;
}

.box {
    background-color: orange;
    padding: 10px;
    border: none;
    width: 200px;
    border: 2px solid #00604A;
    float: right;
    margin-right: 2%;
}

.header-button {
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    float: right;
    margin-right: 2%;
}

.header-button:hover {
    background-color: white;
    color: #00604A;
    transform: scale(1.1);
}

.header-button-2 {
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;
}

.header-button-2:hover {
    background-color: white;
    color: #00604A;
    transform: scale(1.1);
}

#online-classif{
    width: auto;
    padding: 1%;
    margin-bottom: 5%;
}

.inst-button{
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;
}


#app {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin: auto;
}

#menu-view button,
.button-stylist button {
    width: 200px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: #00C194;
}

#menu-view button:hover,
.button-stylist button:hover {
    background-color: white;
    color: #00604A;
    transform: scale(1.1);
}

.button-stylist button.disabled {
    opacity: 0.5;
    background-color: orange;
    color: #00604A;
    cursor: not-allowed;
    transform: none;
}

.tutorial-step {
    display: none;
}

.tutorial-step.active {
    display: block;
}

.button-stylist {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.view {
    display: none;
}

.view.active {
    display: block;
}


.config-container {
    display: flex;
    flex-direction: column;
    background-color: #00C194;
    border: #00604A 2px solid;
    padding: 30px;
    max-width: 400px;
    text-align: left;
    gap: 5px;
}

#configs button {
    padding: 10px;
}

.pop-up-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 40;
}

.pop-up {
    background: #00C194;
    text-align: center;
    width: fit-content;
    padding: 20px 30px;
    border: #00604a 3px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 21;
}

#close-inst{
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;
}

#anterior{
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;
}

#proximo{
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;
}

.listaC{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.listaC th, 
.listaC td {
    border: 2px solid #00604A ;
    padding: 6px 10px;
    text-align: left;
}

.listaC th {
    background-color: orange;
    font-weight: bold;
}

/* GitHub Modifications */

.nope-1 {
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    margin-left: 2%;

    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.nope-2 {
    width: 125px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: #00604A 2px solid;
    background-color: orange;
    float: right;
    margin-right: 2%;

    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.nope-3 {
    background-color: orange;
    padding: 10px;
    border: none;
    width: 200px;
    border: 2px solid #00604A;
    float: right;
    margin-right: 2%;

    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}